<a href="https://colab.research.google.com/github/syedabasmah/deceptive_reviews_detection/blob/main/project/Third_setting_different_ML_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ott Dataset Implementation**

![image.png]()

# **First Phase: PRE-PROCESSING**

This includes data analysis, train-test split & building NLP pipeline

**Import the libraries:**

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Read the file:**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/deceptive-opinion.csv')

**Data analysis:**

In [ ]:
df.describe()

,deceptive,hotel,polarity,source,text
count,1600,1600,1600,1600,1600
unique,2,20,2,3,1596
top,truthful,conrad,positive,MTurk,The Omni was chosen for it's location whichwor...
freq,800,80,800,800,2

In [ ]:
df.deceptive.value_counts()

truthful     800
deceptive    800
Name: deceptive, dtype: int64

In [ ]:
df.head()

,deceptive,hotel,polarity,source,text
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...

In [ ]:
df.shape

(1600, 5)

**Are there any missing values?**

In [ ]:
df.isnull().sum()

deceptive    0
hotel        0
polarity     0
source       0
text         0
dtype: int64

In [ ]:
df.dtypes

deceptive    object
hotel        object
polarity     object
source       object
text         object
dtype: object

**Drop irrelevant features (i.e., hotel, source, polarity):**

In [ ]:
df.drop(['hotel', 'source', 'polarity'], axis=1, inplace=True)

In [ ]:
df.shape

(1600, 2)

**Applying label encoding to the target feature (i.e., deceptive):**

In [ ]:
from sklearn.preprocessing import LabelEncoder
df['deceptive_LabEnc'] = LabelEncoder().fit_transform(df['deceptive'])
df.drop('deceptive', axis=1, inplace=True)

In [ ]:
df.head()

                                                text  deceptive_LabEnc
0  We stayed for a one night getaway with family ...                 1
1  Triple A rate with upgrade to view room was le...                 1
2  This comes a little late as I'm finally catchi...                 1
3  The Omni Chicago really delivers on all fronts...                 1
4  I asked for a high floor away from the elevato...                 1

**Building Natural Language Processing (NLP) pipeline:**

**1. Removing punctuation:**

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punctuation(txt):
  txt_nopunc = "".join([c for c in txt if c not in string.punctuation])
  return txt_nopunc

In [ ]:
df['text_no_punc'] = df['text'].apply(lambda x: remove_punctuation(x))

In [ ]:
df.head()

,text,deceptive_LabEnc,text_no_punc
0,We stayed for a one night getaway with family ...,1,We stayed for a one night getaway with family ...
1,Triple A rate with upgrade to view room was le...,1,Triple A rate with upgrade to view room was le...
2,This comes a little late as I'm finally catchi...,1,This comes a little late as Im finally catchin...
3,The Omni Chicago really delivers on all fronts...,1,The Omni Chicago really delivers on all fronts...
4,I asked for a high floor away from the elevato...,1,I asked for a high floor away from the elevato...

**2. Tokenization:**

In [ ]:
import re #regular expression (built in package)

def tokenize(txt):
  tokens = re.split('\W+', txt)
  return tokens 

df['text_tokenized'] = df['text_no_punc'].apply(lambda x: tokenize(x.lower()))

In [ ]:
df.head()

,text,deceptive_LabEnc,text_no_punc,text_tokenized
0,We stayed for a one night getaway with family ...,1,We stayed for a one night getaway with family ...,"[we, stayed, for, a, one, night, getaway, with..."
1,Triple A rate with upgrade to view room was le...,1,Triple A rate with upgrade to view room was le...,"[triple, a, rate, with, upgrade, to, view, roo..."
2,This comes a little late as I'm finally catchi...,1,This comes a little late as Im finally catchin...,"[this, comes, a, little, late, as, im, finally..."
3,The Omni Chicago really delivers on all fronts...,1,The Omni Chicago really delivers on all fronts...,"[the, omni, chicago, really, delivers, on, all..."
4,I asked for a high floor away from the elevato...,1,I asked for a high floor away from the elevato...,"[i, asked, for, a, high, floor, away, from, th..."

**3. Removing stop words:**

In [ ]:
import nltk
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
def remove_stopwords(text_tokenized):
  text_removed_stopwords = [word for word in text_tokenized if word not in stopwords]
  return text_removed_stopwords

df['text_no_stopword'] = df['text_tokenized'].apply(lambda x: remove_stopwords(x))

In [ ]:
df.head()

,text,deceptive_LabEnc,text_no_punc,text_tokenized,text_no_stopword
0,We stayed for a one night getaway with family ...,1,We stayed for a one night getaway with family ...,"[we, stayed, for, a, one, night, getaway, with...","[stayed, one, night, getaway, family, thursday..."
1,Triple A rate with upgrade to view room was le...,1,Triple A rate with upgrade to view room was le...,"[triple, a, rate, with, upgrade, to, view, roo...","[triple, rate, upgrade, view, room, less, 200,..."
2,This comes a little late as I'm finally catchi...,1,This comes a little late as Im finally catchin...,"[this, comes, a, little, late, as, im, finally...","[comes, little, late, im, finally, catching, r..."
3,The Omni Chicago really delivers on all fronts...,1,The Omni Chicago really delivers on all fronts...,"[the, omni, chicago, really, delivers, on, all...","[omni, chicago, really, delivers, fronts, spac..."
4,I asked for a high floor away from the elevato...,1,I asked for a high floor away from the elevato...,"[i, asked, for, a, high, floor, away, from, th...","[asked, high, floor, away, elevator, got, room..."

**4. Lemmatization:**

You may perform any of the two i.e., stemming or lemmatization

In [ ]:
import nltk
nltk.download('wordnet')
wn = nltk.WordNetLemmatizer()
ps = nltk.PorterStemmer()
dir(wn)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'lemmatize']

In [ ]:
nltk.download('omw-1.4')
print(ps.stem('goose'))
print(ps.stem('geese'))
print(wn.lemmatize('goose'))
print(wn.lemmatize('geese'))

goos
gees
goose
goose

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
def lemmatization(text_no_stopword):
  text = [wn.lemmatize(word) for word in text_no_stopword]
  return text

df['text_lemmatized'] = df['text_no_stopword'].apply(lambda x: lemmatization(x))

In [ ]:
df.head()

,text,deceptive_LabEnc,text_no_punc,text_tokenized,text_no_stopword,text_lemmatized
0,We stayed for a one night getaway with family ...,1,We stayed for a one night getaway with family ...,"[we, stayed, for, a, one, night, getaway, with...","[stayed, one, night, getaway, family, thursday...","[stayed, one, night, getaway, family, thursday..."
1,Triple A rate with upgrade to view room was le...,1,Triple A rate with upgrade to view room was le...,"[triple, a, rate, with, upgrade, to, view, roo...","[triple, rate, upgrade, view, room, less, 200,...","[triple, rate, upgrade, view, room, le, 200, a..."
2,This comes a little late as I'm finally catchi...,1,This comes a little late as Im finally catchin...,"[this, comes, a, little, late, as, im, finally...","[comes, little, late, im, finally, catching, r...","[come, little, late, im, finally, catching, re..."
3,The Omni Chicago really delivers on all fronts...,1,The Omni Chicago really delivers on all fronts...,"[the, omni, chicago, really, delivers, on, all...","[omni, chicago, really, delivers, fronts, spac...","[omni, chicago, really, delivers, front, spaci..."
4,I asked for a high floor away from the elevato...,1,I asked for a high floor away from the elevato...,"[i, asked, for, a, high, floor, away, from, th...","[asked, high, floor, away, elevator, got, room...","[asked, high, floor, away, elevator, got, room..."

In [ ]:
df.drop('text', axis=1, inplace=True)

In [ ]:
df.drop('text_no_punc', axis=1, inplace=True)

In [ ]:
df.drop('text_tokenized', axis=1, inplace=True)

In [ ]:
df.drop('text_no_stopword', axis=1, inplace=True)

In [ ]:
df.head()

   deceptive_LabEnc                                    text_lemmatized
0                 1  [stayed, one, night, getaway, family, thursday...
1                 1  [triple, rate, upgrade, view, room, le, 200, a...
2                 1  [come, little, late, im, finally, catching, re...
3                 1  [omni, chicago, really, delivers, front, spaci...
4                 1  [asked, high, floor, away, elevator, got, room...

**Separate data into X and Y:**

In [ ]:
X = df.text_lemmatized
Y = df.deceptive_LabEnc

In [ ]:
X = X.astype(str)

**Split the data into train, validation and test:**

In [ ]:
from sklearn.model_selection import train_test_split
X_main, X_test, Y_main, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1, stratify=Y)
X_train, X_val, Y_train, Y_val = train_test_split(X_main, Y_main, test_size=0.2, random_state=1, stratify=Y_main)

# **Second Phase: FEATURE ENGINEERING**

**Term Frequency - Inverse Document Frequency (TF-IDF):**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tf_vect = TfidfVectorizer()
X_train_tf = tf_vect.fit_transform(X_train)
a = X_train_tf.toarray()
X_val_tf = tf_vect.transform(X_val)
b = X_val_tf.toarray()
X_test_tf = tf_vect.transform(X_test)
c = X_test_tf.toarray()

In [ ]:
X_train_tf.shape

(1024, 7543)

In [ ]:
X_val_tf.shape

(256, 7543)

In [ ]:
X_test_tf.shape

(320, 7543)

# **Third Phase: CLASSIFIER MODELS & PERFORMANCE EVALUATION**

**Data standardization:**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(with_mean=False)
X_train = scaler.fit_transform(X_train_tf)
X_train_array = scaler.fit_transform(a)
X_val = scaler.transform(X_val_tf)
X_val_array = scaler.transform(b)
X_test = scaler.transform(X_test_tf)
X_test_array = scaler.transform(c)

**1. Logistic Regression Model:**

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
Y_val_predict = log_reg.predict(X_val)

**Evaluation of the model on validation data:**

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, Y_val_predict))

0.8359375

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_val, Y_val_predict))

              precision    recall  f1-score   support

           0       0.80      0.90      0.85       128
           1       0.88      0.77      0.82       128

    accuracy                           0.84       256
   macro avg       0.84      0.84      0.84       256
weighted avg       0.84      0.84      0.84       256

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_val, Y_val_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        115        13
Truthful          29        99

**Evaluation of the model on test data:**

In [ ]:
Y_test_predict = log_reg.predict(X_test)

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_test_predict))

0.853125

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_test_predict))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86       160
           1       0.87      0.83      0.85       160

    accuracy                           0.85       320
   macro avg       0.85      0.85      0.85       320
weighted avg       0.85      0.85      0.85       320

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_test, Y_test_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        140        20
Truthful          27       133

**2. Decision Tree Model:**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dec_tree_model = DecisionTreeClassifier()
dec_tree_model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [ ]:
Y_val_predict = dec_tree_model.predict(X_val)

**Evaluation of the model on validation data:**

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, Y_val_predict))

0.6328125

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_val, Y_val_predict))

              precision    recall  f1-score   support

           0       0.61      0.71      0.66       128
           1       0.66      0.55      0.60       128

    accuracy                           0.63       256
   macro avg       0.64      0.63      0.63       256
weighted avg       0.64      0.63      0.63       256

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_val, Y_val_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive         91        37
Truthful          57        71

**Evaluation of the model on test data:**

In [ ]:
Y_test_predict = dec_tree_model.predict(X_test)

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_test_predict))

0.68125

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_test_predict))

              precision    recall  f1-score   support

           0       0.67      0.71      0.69       160
           1       0.69      0.66      0.67       160

    accuracy                           0.68       320
   macro avg       0.68      0.68      0.68       320
weighted avg       0.68      0.68      0.68       320

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_test, Y_test_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        113        47
Truthful          55       105

**3. Support Vector Machine Model:**

In [ ]:
from sklearn import svm
svm_model = svm.SVC()
svm_model.fit(X_train, Y_train)

SVC()

In [ ]:
Y_val_predict = svm_model.predict(X_val)

**Evaluation of the model on validation data:**

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, Y_val_predict))

0.76171875

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_val, Y_val_predict))

              precision    recall  f1-score   support

           0       0.76      0.76      0.76       128
           1       0.76      0.77      0.76       128

    accuracy                           0.76       256
   macro avg       0.76      0.76      0.76       256
weighted avg       0.76      0.76      0.76       256

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_val, Y_val_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive         97        31
Truthful          30        98

**Evaluation of the model on test data:**

In [ ]:
Y_test_predict = svm_model.predict(X_test)

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_test_predict))

0.70625

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_test_predict))

              precision    recall  f1-score   support

           0       0.73      0.66      0.69       160
           1       0.69      0.76      0.72       160

    accuracy                           0.71       320
   macro avg       0.71      0.71      0.71       320
weighted avg       0.71      0.71      0.71       320

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_test, Y_test_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        105        55
Truthful          39       121

**4. Random Forest Model:**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators= 40)
rf.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=40)

In [ ]:
Y_val_predict = rf.predict(X_val)

**Evaluation of the model on validation data:**

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, Y_val_predict))

0.78515625

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_val, Y_val_predict))

              precision    recall  f1-score   support

           0       0.74      0.87      0.80       128
           1       0.84      0.70      0.77       128

    accuracy                           0.79       256
   macro avg       0.79      0.79      0.78       256
weighted avg       0.79      0.79      0.78       256

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_val, Y_val_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        111        17
Truthful          38        90

**Evaluation of the model on test data:**

In [ ]:
Y_test_predict = rf.predict(X_test)

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_test_predict))

0.8125

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_test_predict))

              precision    recall  f1-score   support

           0       0.77      0.88      0.82       160
           1       0.86      0.74      0.80       160

    accuracy                           0.81       320
   macro avg       0.82      0.81      0.81       320
weighted avg       0.82      0.81      0.81       320

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_test, Y_test_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        141        19
Truthful          41       119

**5. Naive Bayes Model:**

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train_array, Y_train)

GaussianNB()

In [ ]:
Y_val_predict = gnb.predict(X_val_array)

**Evaluation of the model on validation data:**

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, Y_val_predict))

0.60546875

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_val, Y_val_predict))

              precision    recall  f1-score   support

           0       0.61      0.59      0.60       128
           1       0.60      0.62      0.61       128

    accuracy                           0.61       256
   macro avg       0.61      0.61      0.61       256
weighted avg       0.61      0.61      0.61       256

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_val, Y_val_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive         76        52
Truthful          49        79

**Evaluation of the model on test data:**

In [ ]:
Y_test_predict = gnb.predict(X_test_array)

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_test_predict))

0.628125

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_test_predict))

              precision    recall  f1-score   support

           0       0.65      0.56      0.60       160
           1       0.61      0.70      0.65       160

    accuracy                           0.63       320
   macro avg       0.63      0.63      0.63       320
weighted avg       0.63      0.63      0.63       320

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_test, Y_test_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive         89        71
Truthful          48       112

**6. kNN Model:**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=20)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=20)

In [ ]:
Y_val_predict = knn.predict(X_val)

**Evaluation of the model on validation data:**

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_val, Y_val_predict))

0.5

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_val, Y_val_predict))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67       128
           1       0.00      0.00      0.00       128

    accuracy                           0.50       256
   macro avg       0.25      0.50      0.33       256
weighted avg       0.25      0.50      0.33       256

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_val, Y_val_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        128         0
Truthful         128         0

**Evaluation of the model on test data:**

In [ ]:
Y_test_predict = knn.predict(X_test)

**i. Accuracy score:**

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_test_predict))

0.5

**ii. Classification report:**

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_test_predict))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67       160
           1       0.00      0.00      0.00       160

    accuracy                           0.50       320
   macro avg       0.25      0.50      0.33       320
weighted avg       0.25      0.50      0.33       320

**iii. Confusion matrix:**

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(Y_test, Y_test_predict)
cm1 = pd.DataFrame(data=cm, index=['Deceptive','Truthful'],columns=['Deceptive','Truthful'])
cm1

           Deceptive  Truthful
Deceptive        160         0
Truthful         160         0